
<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block user_name %}
'{{ user }}'
{% endblock user_name %}

{% block title1 %}
news
{% endblock title1 %}


{% block comment_ %}
  <form action="" method="post">
{% csrf_token %}
      <label for="comment_">Your comment:</label>
        <input type="" name="comment_" value="" placeholder="Put your comment here" class="form-control" />

</form>
{% endblock comment_ %}

