
<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block user_name %}
'{{ user }}'
{% endblock user_name %}

{% block title1 %}
news
{% endblock title1 %}



<!--comment testing (POST doesn't work in the class "ListView"!!!)-->
{% block comment_ %}
  <form action="" method="post">
{% csrf_token %}
      <label for="comment_">Your comment:</label>
        <input type="" name="comment_" value="" placeholder="Put your comment here" class="form-control" />
<!--       {{ form.as_p }}-->
<!--      <input type="submit" value="Save" />-->
</form>
{% endblock comment_ %}

