
<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'news/default.html' %}

{% load custom_filters %}


{% block title1 %}
news
{% endblock title1 %}

<!--topic-->
{% block topic %}
<h1 class="fw-bolder mb-1">{{ content.topic|censor }}</h1>
{% endblock topic %}

<!--data-->
{% block date %}
{{ content.createTime.date }}
{{ content.createTime.time }}
{% endblock date %}

<!--author-->
{% block author %}
{{ content.author }}
{% endblock author %}

<!--contentType-->
{% block type %}
{{ content.contentType.title}}
{% endblock type %}

<!--Post category-->
{% block categories %}
    {% for category in categories %}
           {{ category }}.
    {% endfor %}
{% endblock categories %}

<!--content-->
{% block content %}
<p></p>
<p>{{ content.content|censor }}</p>
<hr>
{% endblock content %}

<!--comments-->
{% block comment %}

    {% for comment in comments %}
          <p> - {{ comment }}</p>
    {% endfor %}

{% endblock comment %}

<!--commentUser-->
{% block commentUser %}
{{ commentUser }}
{% endblock commentUser %}

