
<!DOCTYPE html>
<html lang="en">
    <head>
{% load static %}
        <link href="{% static '403/css/styles.css' %}" rel="stylesheet" />
<div class="text-wrapper">
    <div class="title" data-content="404">
        403 - ACCESS DENIED
    </div>
</head>
    <div class="subtitle">
        Oops, You don't have permission to access this page.
    </div>
    <div class="isi">
         A web server may return a 403 Forbidden HTTP status code in response to a request from a client for a web page or resource to indicate that the server can be reached and understood the request, but refuses to take any further action. Status code 403 responses are the result of the web server being configured to deny access, for some reason, to the requested resource by the client.
         </div>
    <div class="subtitle">
            {% if request.user.is_authenticated %}
                To go further, please become an <em><span style="text-decoration: underline;">
                <a href="{% url 'author_create' %}"> Author</a></span></em>
            {% else %}
                Please <a href="../../../accounts/login/">sign in</a> <em><span style="text-decoration: underline;">
            {% endif %}


    </div>
    <div class="buttons">
        <a class="button" href="../../../news">Go to homepage</a>
    </div>

</div>

