
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title1 %} {% endblock title1 %}</title>

          <style type="text/css">
            html {
                height: 100%;
                  }

            body {
              margin: 0;
              color: #fff;
              min-height: 100%;
              display: grid;
              grid-template-rows: auto 1fr auto;
            }
        </style>
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>

        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
           <div class="container">
               <a class="navbar-brand" href="/news/">News Portal</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse"
                       data-target="#navbarResponsive"
                       aria-controls="navbarResponsive" aria-expanded="false"
                       aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                   <ul class="navbar-nav ml-auto">
                       <li class="nav-item active">
                           <a class="nav-link" href="/info/">Home
                               <span class="sr-only">(current)</span>
                           </a>
                       </li>

                       {% if request.user.is_authenticated %} {# or like that - % if perms.news %#}
                       <li class="nav-item">
                           <a class="nav-link" href="/accounts/logout">Sign Out ({% block user_name %}{% endblock user_name %})</a>
                       </li>
                       {%else%}
                       <li class="nav-item">
                           <a class="nav-link" href="/accounts/login">Sign In (Unauthorised user)</a>
                       </li>
                        {% endif %}

                   </ul>
               </div>
           </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    {% endblock content %}
                    {% block comment_ %} {% endblock comment_ %}

                </div>
            </div>
        </div>
        <!-- Footer-->

        <footer class="py-5 bg-dark", role="contentinfo">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
    </body>
</html>
